// footer
.footer
  position: relative
  display: block
  background-image: url("../images/bg-footer.png")
  &__no-wrapp
    white-space: nowrap
  &__border
    border-bottom: 1px solid $green-light
    border-top: 1px solid $green-light
    &--y
      border-right: 1px solid $green-light
  &__logo
    height: 28px
  &__banner 
    position: relative
    z-index: 100
    transform: translateY(-50%)
    box-shadow: 10px 0 15px -10px rgba(0, 0, 0, 0.3)
// footer END