.footer
  position: relative
  display: block
  background-image: url("../images/bg-footer.png")
  &__no-wrapp
    white-space: nowrap
  &__border
    border-bottom: 1px solid $green-light
    border-top: 1px solid $green-light
    &--y
      border-right: 1px solid $green-light
  &__logo
    height: 28px
  &__banner
    position: relative
    z-index: 100
    transform: translateY(-50%)
  // &:after
  //   content: ''
  //   width: 90%
  //   height: 30%
  //   position: absolute
  //   top: 0
  //   left: 0
  //   transform: translateY(-50%)
  //   border: 1px dashed red
  //   display: block
  //   background-color: $white
.bor
  border: 1px dashed red
.bor1
  border: 1px dashed green
.bor2
  border: 1px dashed violet