// header
.header
  height: 100vh
  position: relative
  overflow: hidden
  padding-bottom: 100px
  @media screen and ( max-width: 767px )
    padding-bottom: 40px
  &:after
    content: ''
    width: 100%
    position: absolute
    top: 0
    left: 0
    display: block
    height: calc(100% - (227px / 2) - 100px)
    background-image: url("../images/bg-header.png")
    background-repeat: no-repeat
    background-size: cover
    z-index: -1
    @media screen and ( max-width: 991px )
      height: calc(100% - (180px / 2) - 100px)
    @media screen and ( max-width: 767px )
      height: calc(100% - (150px / 2) - 20px)
    @media screen and ( max-width: 479px )
      height: calc(100% - (100px / 2) - 20px)
  &__brands
    border-right: 1px solid $white
    position: relative
    background-color: $white
    height: 227px 
    box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1459)
    z-index: 100
    @media screen and ( max-width: 991px )
      height: 180px
    @media screen and ( max-width: 767px )
      box-shadow: 15px 15px 20px 0px rgba(0, 0, 0, 0.1459)
      height: auto
    &:after
      content: ''
      display: block
      position: absolute
      height: 100%
      right: 0
      top: 0
      background-color: $white
      width: 100%
      transform: translateX(100%)
      box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1459)
      @media screen and ( max-width: 767px )
        box-shadow: 15px 15px 20px 0px rgba(0, 0, 0, 0.1459)
  &__top
    align-self: flex-start
  &__logo
    height: 8px
    transform: translateY(-50%)
    background-color: $white
    width: 8px
    border-radius: 50%
    align-self: flex-end
    justify-content: flex-end
    @media screen and ( max-width: 991px )
      height: 5px
      width: 5px
      transform: translateY(-100%)
    @media screen and ( max-width: 768px )
      height: 3px
      width: 3px
  &__nav
    position: absolute
    top: 0px
    right: 0
    transform: translate(0, -100%)
    background-color: rgba(253, 251, 251, 0.911)
    transition: all 1s ease
    &--show
      transform: translate(0, 0)
      transition: all 1s ease
      background-color: rgba(10, 10, 10, 0.6)
  &__relative
    position: relative
// header END