// main
.main
  &__border
    position: relative
    &:after
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 1px
      background-color: $gray-light
      top: 0
      left: 50%
      transform: translate(-50%, -80px)
  &__avatar
    background-size: cover
    border-radius: 50%
    margin-right: 5px 
    height: 50px
    width: 50px
    @media screen and ( max-width: 767px )
      height: 40px
      width: 40px
    &--booking
      background-image: url("../images/b_ava.jpg")
      background-position-x: 40%
    &--threed
      background-image: url("../images/t_ava.jpg")
      background-position-x: 50%
    &--balenciaga
      background-image: url("../images/balenciaga_ava.jpg")
      background-position-x: 50%
    &--strategy
      background-image: url("../images/strategy_ava.jpg")
      background-position-x: 50%
  &__banner
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2)
    &--threed
      transform: translateY(20%)
  &__shadow
    box-shadow: 21px 23px 34px 18px rgba(0, 0, 0, 0.2)
    @media screen and ( max-width: 767px )
      box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.2)
  &__align
    display: flex
    align-items: center
  &__bg
    background-repeat: no-repeat
    background-size: 50%
    &--booking
      background-image: url("../images/bitmap(3).png")
    &--threed
      background-image: url("../images/bitmap(2).png")
      background-position-x: 100%
    &--balenciaga
      background-image: url("../images/bitmap(1).png")
  &__topbord
    border-top: 1px solid $gray-light
  &__strategy
    margin-top: -50px
// main END